node_modules
__pycache__
__pycache__/
*.py[cod]
# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
/backend/uploads
/backend/uploads/
/backend/media/
/.vscode/
!/backend/.idea/dataSources/
!/backend/.idea/inspectionProfiles/
!/backend/.idea/runConfigurations/
!/frontend/.idea/inspectionProfiles/